.canvas {
    -fx-border-color:lightblue ;
    -fx-border-insets:3;
    -fx-border-radius:7;
    -fx-border-width:1.0;
}
.label {
    -fx-font-size: 12pt;
}
.button {
    -fx-font-size: 12pt;
    -fx-border-radius: 0;
}
.box {
    -fx-border-width: 1;
    -fx-border-color: lightblue;
    -fx-border-style: solid;
}
